<!DOCTYPE html>
<html ng-app="pokemon">
   <head >
      <meta charset="utf-8">
      <title></title>
   </head>
   <body ng-controller="control">
   <form class="input">
      <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
      <input class="inputBox" ng-model="pokePicker" placeholder="enter an number...">
      <button class="button" ng-click="getPoke()">Submit</button>
   </form>

<!-- poke card -->

   <div class="pokeCard">
      <img src="pokemon-logo.png" height="200" width="600"/>
      <br>
   <div class="pokeCardInfo">
      <div id="pokename" class="pulse">{{poke.name}}</div>
      <br>
      <img class="rotate" src="{{poke.sprites.front_default}}" height="150" width="150"/>
      <img class="rotate" src="{{poke.sprites.back_default}}" height="150" width="150"/>
      <br>
   <div id="pokebox1" class="shrink">
      Moves:
   </div>
         <div id="pokebox2" class="grow">
            {{poke.moves[0].move.name}}
         </div>
         <div id="pokebox2" class="grow">
           {{poke.moves[1].move.name}}
         </div>
         <div id="pokebox2" class="grow">
            {{poke.moves[4].move.name}}
         </div>
   <br><br>
   <div id="pokebox1" class="shrink">
      Ability:
   </div>
         <div id="pokebox2" class="grow">
            {{poke.abilities[0].ability.name}}
         </div>
         <div id="pokebox2" class="grow">
            {{poke.abilities[1].ability.name}}
         </div>
      <br><br>
   <div id="pokebox1" class="shrink">
      Weight:
   </div>
         <div id="pokebox2" class="grow">
            {{poke.weight}}
         </div>
   <div id="pokebox1" class="shrink">
      Height:
   </div>
         <div id="pokebox2" glass="grow">
           {{poke.height}}
         </div>
   <br><br>
   </div>
</div>

<!-- script docs -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="app.js"></script>
<script src="control.js"></script>
<script src="service.js"></script>

   </body>
</html>
